<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- Used to share exported .har files. Authority is namespaced per host app. -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.netlens.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/netlens_file_paths" />
        </provider>
    </application>

</manifest>
